:root{
    --blue: #3975e3;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: auto 1fr min(10%, 5rem);
    padding: 50px;
}

.grid{
    display: grid;
    grid-template-rows: 1fr 8rem;
    gap: 1rem;
}