:root{
    --blue: #3975e3;
}

@font-face {
    font-family:"clip";
    src: url("./fonts/clip.regular.ttf");
}
@font-face{
    font-family:"dash";
    src: url("./fonts/dash.otf");
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #292b37;
    display: grid;    
    /* 
        minmax(0, 1fr) istället för 1fr,
        gör att raden fyller resten av platsen som finns, precis som 1fr,
        men kan inte bli större på grund av sin content.

        Viktigt annars kan canvas växa konstigt när fönstret ändrar storlek.
        
        https://stackoverflow.com/questions/52861086/why-does-minmax0-1fr-work-for-long-elements-while-1fr-doesnt
        https://stackoverflow.com/questions/52785750/prevent-grid-area-from-expanding-causing-whole-page-to-scroll
     */ 
    grid-template-rows: auto minmax(0, 1fr);
    padding: 50px;
}

.grid{
    display: grid;       
    grid-template-rows: minmax(0, 1fr) 10rem;
    gap: 2rem;
}